<!DOCTYPE html>
{% load static %}
<html lang="zxx">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Nabin Dashboard</title>
<link rel="icon" href="{% static "backend/img/logo.png" %}" type="image/png" />

<link rel="stylesheet" href="{% static "backend/css/bootstrap1.min.css" %}" />

<link rel="stylesheet" href="{% static "backend/img/logo.pngvendors/themefy_icon/themify-icons.css" %}" />

<link rel="stylesheet" href="{% static "backend/vendors/swiper_slider/css/swiper.min.css" %}" />

<link rel="stylesheet" href="{% static "backend/vendors/select2/css/select2.min.css" %}" />

<link rel="stylesheet" href="{% static "backend/vendors/niceselect/css/nice-select.css" %}" />

<link rel="stylesheet" href="{% static "backend/vendors/owl_carousel/css/owl.carousel.css" %}" />

<link rel="stylesheet" href="{% static "backend/vendors/gijgo/gijgo.min.css" %}" />

<link rel="stylesheet" href="{% static "backend/vendors/font_awesome/css/all.min.css" %}" />
<link rel="stylesheet" href="{% static "backend/vendors/tagsinput/tagsinput.css" %}" />

<link
  rel="stylesheet"
  href="{% static "backend/vendors/datatable/css/jquery.dataTables.min.css" %}"
/>
<link
  rel="stylesheet"
  href="{% static "backend/vendors/datatable/css/responsive.dataTables.min.css" %}"
/>
<link
  rel="stylesheet"
  href="{% static "backend/vendors/datatable/css/buttons.dataTables.min.css" %}"
/>

<link rel="stylesheet" href="{% static "backend/vendors/text_editor/summernote-bs4.css" %}" />

<link rel="stylesheet" href="{% static "backend/vendors/morris/morris.css" %}" />

<link rel="stylesheet" href="{% static "backend/vendors/material_icon/material-icons.css" %}" />

<link rel="stylesheet" href="{% static "backend/css/metisMenu.css" %}" />

<link rel="stylesheet" href="{% static "backend/css/style1.css" %}" />
<link rel="stylesheet" href="{% static "backend/css/colors/default.css" %}" id="colorSkinCSS" />
{% block css %}{% endblock %}
</head>
<body class="crm_body_bg">
{% include "backend/layouts/menu.html" %}
<section class="main_content dashboard_part">

    <div class="container-fluid g-0">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="header_iner d-flex justify-content-between align-items-center">
                    <div class="sidebar_icon d-lg-none">
                        <i class="ti-menu"></i>
                    </div>
                    <div class="serach_field-area">
                        <div class="search_inner">
                                <form action="#">
                                    <div class="search_field">
                                        <input type="text" placeholder="Search here...">
                                    </div>
                                    <button type="submit"> <img src="img/icon/icon_search.svg" alt> </button>
                                </form>
                            </div>
                    </div>
                    <div class="header_right d-flex justify-content-between align-items-center">
                        <div class="header_notification_warp d-flex align-items-center">
                            <li>
                                <a href="#"> <img src="img/icon/bell.svg" alt> </a>
                            </li>
                            <li>
                                <a href="#"> <img src="img/icon/msg.svg" alt> </a>
                            </li>
                        </div>
                        <div class="profile_info">
                            <img src="{% static "backend/img/client_img.png" %}" alt="#">
                            <div class="profile_info_iner">
                                <p>Welcome!</p>
                                <h5>{{request.user.username}}</h5>
                                <div class="profile_info_details">
                                    <a href="#">My Profile <i class="ti-user"></i></a>
                                    <a href="#">Settings <i class="ti-settings"></i></a>
                                    <a href="{% url "backend_portfolio_logout" %}">Log Out <i class="ti-shift-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main_content_iner ">
        <div class="container-fluid plr_30 body_white_bg pt_30">
            {% block mainsection %}{% endblock %}
        </div>
    </div>
</section>



<script src="{% static "backend/js/jquery1-3.4.1.min.js" %}"></script>

<script src="{% static "backend/js/popper1.min.js" %}"></script>

<script src="{% static "backend/js/bootstrap1.min.js" %}"></script>

<script src="{% static "backend/js/metisMenu.js" %}"></script>

<script src="{% static "backend/vendors/count_up/jquery.waypoints.min.js" %}"></script>

<script src="{% static "backend/vendors/chartlist/Chart.min.js" %}"></script>

<script src="{% static "backend/vendors/count_up/jquery.counterup.min.js" %}"></script>

<script src="{% static "backend/vendors/swiper_slider/js/swiper.min.js" %}"></script>

<script src="{% static "backend/vendors/niceselect/js/jquery.nice-select.min.js" %}"></script>

<script src="{% static "backend/vendors/owl_carousel/js/owl.carousel.min.js" %}"></script>

<script src="{% static "backend/vendors/gijgo/gijgo.min.js" %}"></script>

<script src="{% static "backend/vendors/datatable/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "backend/vendors/datatable/js/dataTables.responsive.min.js" %}"></script>
<script src="{% static "backend/vendors/datatable/js/dataTables.buttons.min.js" %}"></script>
<script src="{% static "backend/vendors/datatable/js/buttons.flash.min.js" %}"></script>
<script src="{% static "backend/vendors/datatable/js/jszip.min.js" %}"></script>
<script src="{% static "backend/vendors/datatable/js/pdfmake.min.js" %}"></script>
<script src="{% static "backend/vendors/datatable/js/vfs_fonts.js" %}"></script>
<script src="{% static "backend/vendors/datatable/js/buttons.html5.min.js" %}"></script>
<script src="{% static "backend/vendors/datatable/js/buttons.print.min.js" %}"></script>
<script src="{% static "backend/js/chart.min.js" %}"></script>

<script src="{% static "backend/vendors/progressbar/jquery.barfiller.js" %}"></script>

<script src="{% static "backend/vendors/tagsinput/tagsinput.js" %}"></script>

<script src="{% static "backend/vendors/text_editor/summernote-bs4.js" %}"></script>
<script src="{% static "backend/vendors/apex_chart/apexcharts.js" %}"></script>

<script src="{% static "backend/js/custom.js" %}"></script>
<script src="{% static "backend/ckeditor5-build-classic/ckeditor.js" %}"></script>
<script src="{% static "backend/js/active_chart.js" %}"></script>
<script src="{% static "backend/vendors/apex_chart/radial_active.js" %}"></script>
<script src="{% static "backend/vendors/apex_chart/stackbar.js" %}"></script>
<script src="{% static "backend/vendors/apex_chart/area_chart.js" %}"></script>
<script src="{% static "backend/vendors/apex_chart/bar_active_1.js" %}"></script>
<script src="{% static "backend/vendors/chartjs/chartjs_active.js" %}"></script>
{% block js %}{% endblock %}
</body>
</html>