{% extends "backend/layouts/section.html" %}
{% block mainsection %}
<div class="row">
    <h2 class="text-center">Update Setting</h2>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{field.name}}">{{field.field.label}}</label>
            <input type="{{field.field.widget.input_type}}" class="form-control" name="{{field.name}}" id="{{field.name}}" value="{{field.value}}">
            {% if field.errors %}
            <span class="text-danger">{{field.errors}}</span>
        {% endif %}
        {% if field.field.widget.input_type == "file" %}
            <img src="{{field.value.url}}" alt="" width="200px" height="100px">
        {% endif %}
        </div>    
        {% endfor %}
        <button type="submit" class="btn btn-warning">Update</button>
    </form>
</div>
{% endblock %}
{% block js %}
<script>
    tinymce.init({
      selector: '#resume',
      plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
    });
  </script>
{% endblock %}