{% extends "frontend/layouts/section.html" %}
{% block mainsection %}
<div class="mccan page">
    <h3 class="title-small">{{aboutme.title}}</h3>
    <h2 class="title">{{aboutme.name}}</h2>
    <div class="content">
        <div class="grid-container">
            <div class="grid-column">
                <p>{{aboutme.description}}</p>
                <div class="row">
                    <div class="col-md-6">
                        <p><b>Birthday:</b> {{ setting.birthday}}
                        </p>
                        <p><b>Phone:</b> +977 {{setting.phone}}</p>
                    </div>
                    <div class="col-md-6">
                        <p><b>Mail:</b>{{setting.email}}</p>
                        <p><b>Linkedin:</b> /nabin-thapa-602a2029a/</p>
                    </div>
                </div> <a href="https://wa.me/+9779818266466?text=I'm%20interested%20about%20your%20project" target="_blank" class="btn ajax">Hire Me</a> </div>
        </div>
    </div>
</div>
<div class="divider1"></div>
<!-- Services -->
<div class="mccan page">
    <h3 class="title-small">What I Do</h3>
    <h2 class="title">Services</h2>
    <div class="content">
        <div class="grid-container">
            <div class="grid-column">
                <div class="row">
                    {% for service in services %}
                    <div class="col-md-6">
                        <div class="feature feature-left">
                            <div class="mccan-icon"> <span class="{{service.icon}}"></span> </div>
                            <div class="mccan-text">
                                <h3>{{service.title.capitalize}}</h3>
                                <p>{{service.description}}</p>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="text-danger">No Services Found</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}